body {
  margin: 0;
  background: #020617;
  color: #e5e7eb;
  font-family: Cairo, sans-serif;
}

.auth-box {
  max-width: 350px;
  margin: 100px auto;
  background: #020617;
  padding: 20px;
  border-radius: 12px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 10px;
  border: none;
}

button {
  background: #2563eb;
  color: white;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 280px;
  padding: 10px;
}

.chat-area {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.message {
  background: #2563eb;
  margin: 5px 0;
  padding: 8px;
  border-radius: 10px;
}